{% extends "assets/layout.html" %}
{% block content %}

<form id="unlockForm" action="/unlock" method="POST">
    <input type="text" name="key" id="keyInput">

    <button type ="Submit" name ="submit">Unlock</button>
</form>
<br/>
<br/>

{% block puzzle %} {% endblock %}

<script type="text/javascript">

    $('#unlockForm').submit(function(e){
        e.preventDefault();

        var json = {};

        json["lock"] = "{{ lockName }}";
        json["key"] = $("#keyInput").val();

        $.ajax({
            url: "/lock/unlock",
            type: "POST",
            data: JSON.stringify(json),
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                if (data.result.toUpperCase() === "SUCCESS") {
                    alert("Success")
                } else {
                    alert("This key doesnt fit")
                }
            },
            error: function (data) {
                alert(data.responseText)
            }
        });

        return false; // return false to prevent typical submit behavior

    });

</script>

{% endblock %}